.menuProfile-div{
  /* background: #ad8181;  */
  width: 100%;
  /* height: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;  
  /* position: absolute; */
  /* bottom: 100px; */
  border-bottom: #2d2d93 solid 1px;
  left: 0;
}

.menuProfile-div .profileImg{
    height: 100%;

    border-radius: 50%;
    margin-top: 10px;

}

.menuProfile-div .right{
 

    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.menuProfile-div .right .moreBtn{
    height: 10px;
    rotate: 180deg;
    
  
}

.menuProfile-div .right h3{
    margin-left: 10px;
    margin: 10px;
    font-size: medium;
}

.menuProfile-div .menuProfileInfo-div{
    position: absolute;
    background: #fff;
    border-radius: 5px;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
}
.menuProfileInfo-div h3{
    margin-top: 20px;
    font-size: medium;
}
.menuProfileInfo-div .cutBtn{
    height: 10px;
    position: absolute;
    right: 10px;
    top: 10px;


}