.about-container {
  font-family: Arial, sans-serif;
  /* padding: 20px; */
  width: 100vw;
  margin: auto;
}

.about-hero {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(to right, #4a7dff, #6a5cff);
  color: white;
  border-radius: 12px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.about-hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.about-hero p {
  font-size: 16px;
  opacity: 0.9;
}

.about-section {
  margin-bottom: 25px;
  padding: 20px;
  color: #333;
  background: #f9f9f9;
  border-radius: 10px;
}

.about-section h2 {
  margin-bottom: 10px;
  color: #333;
}

.about-section p {
  color: #555;
  line-height: 1.6;
}

.about-section ul {
  padding-left: 20px;
}

.about-section li {
  margin-bottom: 8px;
}

.highlight {
  background: #eef3ff;
  border-left: 5px solid #4a7dff;
}