.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    height: 100px;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 100;
}
.headerL img{
height: 100px;
cursor: pointer;
}
.headerR{
    display: flex;
    gap: 20px;
    align-items: center;
}
.headerR img{
    height: 50px;
    cursor: pointer;
}