
.toolsDiv{
  background: #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.toolDiv{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
flex-direction: column;

  
  width: 50px;
  /* background: blue; */
}
.toolDiv p{
  margin: 0;
}
.toolDiv img{
  height: 100%;
  width: 100%;
  cursor: pointer;
}